<div class="container-fluid">
  <% if @list.movies.length == 0 %>
    <p>This list has no movie yet.</p>
  <% end %>

   <%= link_to "/", class: "nav-link active" do %>
        <h4 class="m-0"><%= @list.name %></h4>
      <% end %>

  <div class="container-fluid my-2">
    <div class="card">
      <h5 class="card-header">Add a movie</h5>
      <div class="card-body">
        <%= simple_form_for [@list, @bookmark] do |f| %>
          <%= f.input :comment, placeholder: 'Enter a comment about the movie' %>
          <%= f.association :movie %>
          <%= f.submit class: 'btn btn-flat' %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="container-fluid d-flex">
    <div class="row">
      <% @list.movies.each do |movie| %>
        <div class="col-6">
          <div class="card mb-3">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="<%= movie.poster_url %>" class="card-img-top" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title"><%= movie.title %></h5>
                  <p class="card-text"><%= movie.overview %></p>
                  <h5>Comments:</h5>
                  <p class="card-text"><% bookmark = Bookmark.find_by(movie: movie, list: @list) %><%= bookmark.comment %></p>
                   <%= link_to "Delete bookmark",
    bookmark_path(bookmark.id), class: "btn btn-primary",
    data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
  %>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
