<div class="container-fluid">
  <h2><%= @list.name %></h2>
  <% if @list.movies.length == 0 %>
    <p>This list has no movie yet.</p>
  <% else %>
    <%= @list.movies.name %>
  <% end %>

  <% @list.movies.each do |movie| %>
    <%= movie.title %>
    <% bookmark = Bookmark.find_by(movie: movie, list: @list) %>
    <%= bookmark.comment %>
  <% end %>

  <div class="container-fluid">
    <%= simple_form_for [@list, @bookmark] do |f| %>
      <%= f.input :comment, placeholder: 'Enter a comment about the movie' %>
      <%= f.association :movie %>
      <%= f.submit class: 'btn btn-flat' %>
    <% end %>
  </div>
</div>
</div>
